################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WheatlyBot/bin
/WheatlyBot/obj
/WheatlyBot/ClientId.txt
/WheatlyBot/WheatlyBot.csproj.user
/WheatlyBot/Credentials.json
/WheatlyBot.Internals/bin/Debug/netcoreapp2.0
/WheatlyBot.Internals/obj
/WheatlyBot/Properties/PublishProfiles
/WheatlyBot/logs
