################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChronoBot/bin/Debug/netcoreapp2.0
/ChronoBot/obj
/ChronoBot/bin/Debug
/ChronoBot/ClientId.txt
/ChronoBot/ChronoBot.csproj.user
/ChronoBot/Credentials.json
/ChronoBot.Internals/bin/Debug/netcoreapp2.0
/ChronoBot.Internals/obj
/ChronoBot/bin/Release
/ChronoBot/Properties/PublishProfiles
